@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");

/*---------------------------- Side Menu -----------------------------*/

.menu-icon-container {
  position: fixed;
  font-size: 30px;
  padding: 0px 0 20px 30px;
  z-index: 99;
}

.menu-icon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #67a9a9;
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  float: left;
  transition: 0.3s;
  background-color: white;
  width: 55px;
  height: 55px;
  padding: 15px;
  border-radius: 50%;
}

.menu-icon:hover,
.menu-icon:active,
.menu-icon:focus {
  color: white;
  background-color: #67a9a9;
  transition: 0.3s;
}

.main-body {
  width: 100%;
  transition: 0.3s;
}

.side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  margin-left: -303px;
  width: 300px;
  height: 100%;
  background: white;
  transition: 0.3s;
  z-index: 2;
  box-shadow: 3px 0px 10px rgb(0 0 0 / 0.2);
  padding: 20px 0px 20px 0px;
}

.activemenu {
  margin-left: 0px;
}

.slide-right {
  margin-left: 300px;
}

.lock-scroll {
  overflow-y: hidden;
}

.side-menu-button {
  background-color: #67a9a9;
  border-radius: 50px;
  color: white !important;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 20px 10px 20px;
  padding: 10px 0px 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  display: block;
  text-decoration: none !important;
}

.side-menu-button:hover {
  background-color: #85c5c7;
  transition: 0.3s;
}

.paw-icon {
  margin-right: 15px;
}