@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');


    html{
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      
    }
    
    body{
      position: relative;
      text-align:center;
      background-color: #9AD4D6;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: 100%;
    }
    
    .title-box{
      color: white;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      font-size: 3.125em;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      cursor: default;
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 0px;
      width: 100%;
    }
    
    .block{
      width: 100%;
      height: 300px;
      margin-bottom: 50px;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 15vw;
      padding-right: 15vw;
      
    }
    
    .odd-image-box{
      background-color: white;
      width: 530px;
      height: 300px;
      float: left;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      border-radius: 5px;
      margin-bottom: 0px;

    }
    
    .odd-info-box{
      width: 580px;
      margin-left: 480px;
    }
    
    
    .img-title-box{
      color: #101935;
      font-family: 'Dosis', sans-serif;
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 5px;
      padding-top: 10px;
      text-align: center;
    }
    
    .img-date-box{
      color: #4b7e80;
      font-family: 'Trebuchet MS', sans-serif;
      font-size: 12px;
      margin-bottom: 10px;
      text-align: center;
    }
    
    .text-box{
      max-height: 150px;
      background-color: white;
      border-radius: 50px;
      padding: 20px 20px 20px 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      font-family: 'Trebuchet MS', sans-serif;
      font-size: 16px;
      color: #4b7e80;
      text-align: center;
      
    }
    
    .img-text-content{
      max-height: 110px;
      overflow-y: auto;
      margin: 10px 0px 10px 0px;
      padding: 0px 10px 0px 25px;
    }
    
    .arrow-down {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid white;
      margin-left: 80%;
    }
    
    .odd-triangle{
      margin-left: 70%;
      color: white;
      font-size: 30px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      margin-top: -10px;
      cursor: default;
      user-select: none;
      opacity: 100%;
    }
    
    
    .sketch-img{
      width: 100%;
      cursor: pointer;
      height: auto;
      display: block;
      vertical-align:top;
    }
    
    #img-full-view-container{
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 2;
      left: 0px;
      top: 0px;
      background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
      cursor: pointer;
        
    }
    
    #modal-image{
      padding-top: 2.5%;
      max-width: 80%;
      max-height: 90%;
      
    }
    
    .close-btn{
      color: white;
      position: fixed;
      top: 10px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
      opacity: 1;
    }
    
    .close-btn:hover{
      color: rgb(255, 255, 255);
      opacity: 0.5;
      transition: 0.3s;
      
    }
    
    .footer{
      width: 100%;
      height: 100px;
      
    }
    
    @media only screen and (max-width: 1072px) {
      
          body{
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            
          }
          
          .title-box{
            padding-right: 15%;
            padding-left: 15%;
            width: 70%;
            
          }
      
         .block{
            width: 90%;
            height: auto;
            margin-bottom: 10px;
            margin-left: 5%;
            margin-right: 5%;
            padding-right: 0px;
            padding-left: 0px;
          }
      
          .odd-image-box{
            background-color: white;
            width: 100%;
            height: auto;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            border-radius: 5px;
            margin-bottom: 20px;
          }
    
          .odd-info-box{
            width: 100%;
            margin-left: 0px;
          }
          
          .odd-triangle{
            opacity: 0%;
            
          }
          
          #modal-image{
            padding-top: 5%;
  
          }
     
    }
    
    @media only screen and (max-width: 600px) {
      
         #modal-image{
            padding-top: 15%;
  
          }
    
    
    }


    
