@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");
@font-face {
  font-family: afacad;
  src: url("../assets/fonts/Afacad-Regular.ttf");
}

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #2b7379;
  font-family: afacad;
  font-size: 1.05rem;
  scroll-padding-top: 80px;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Crect width='80' height='80' fill='none' stroke='%23FFFFFF' stroke-width='2'/%3E%3C/svg%3E"),
    linear-gradient(
      45deg,
      rgba(237, 208, 159, 1) 0%,
      rgba(171, 215, 216, 1) 60%
    );
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: 0px -2px; /* shift down by 20px */
  text-align: center;
}

.home-text a {
  color: #67a9a9;
  text-decoration: underline;
}

.update-box {
  grid-area: update-box;
}

.todo-box {
  grid-area: todo-box;
}

.links-box {
  grid-area: links-box;
}

.about-box {
  /* width: 60%; */
  margin: 0px 0px 0px 0px;
}

.img-box {
  /* width: 35%; */
  padding-right: 5%;
}

/* .about-box {
  margin: -16.5% 30% 50px 30%;
  width: 40%;
  height: 190px;
  background-color: white;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: left;
  border-radius: 25px 150px 150px 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  float: left;
} */

.site-heading {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  align-content: center;
  background-color: #2b7379 !important;
  color: white !important;
  border-radius: 25px 25px 0px 0px !important;
}

.home-text-container {
  overflow-y: auto;
  height: 210px;
  background-color: white;
  border-radius: 0px 0px 0px 10px !important;
}

.home-text {
  text-align: justify;
  line-height: 1.2;
  color: #2b7379;
}

.home-image {
  height: 250px;
  padding-right: 5px;
  filter: drop-shadow(0 0 0.75rem gray);
  cursor: pointer;
}

.home-about-container {
  bottom: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 75%;
  background-color: #67a9a9;
  border-radius: 0px 0px 10px 10px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem 0px 1rem;
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  margin-left: auto;
  /* margin-top: 10px; */
}

.home-about-container:hover {
  background-color: #4b8181;
  background-color: rgb(197, 163, 105);
  color: white;
}

.about-wrapper {
  display: block;
}

.landing-wrapper {
  display: grid;
  grid-template-areas: "about-wrapper notice-board-wrapper";
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.home-image-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.home-body {
  margin: 0;
  padding: 0;
}

.about-btn-container {
  width: 100%;
  margin: 0px 20px 0px 20px;
}

.site-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-btn-textarea {
  font-size: 0.5rem;
  height: 31px;
  width: 200px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-button-text {
  font-size: 0.9rem;
  line-height: 1.1;
  color: #2b7379;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.about-page {
  max-width: 900px;
}

.home-page {
  max-width: 1250px;
}

.home-container {
  border-radius: 25px 25px 25px 25px;
  color: #2b7379;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.home-icon {
  margin-right: 15px;
}

.accordion {
  padding: 0 !important;
}

.accordion-item {
  border: none;
  background-color: transparent;
}

.accordion-header {
  background-color: transparent;
}

.accordion-body {
  background-color: white;
}

#directory-box .accordion-body {
  background-color: #d6eef3 !important;
  padding: 1rem 1rem 1.2rem 1rem;
  border-radius: 0px 0px 10px 10px;
}

.accordion-button {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  align-content: center;
  background-color: #2b7379 !important;
  color: white !important;
  border-radius: 25px 25px 25px 25px !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  border-radius: 25px 25px 0px 0px !important;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Crect x='7' y='2' width='3' height='12'/%3E%3Crect x='2' y='7' width='12' height='3'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Crect x='2' y='7' width='12' height='3'/%3E%3C/svg%3E");
}

.directory-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* .directory-item-box {
  flex: 1 1 30rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  box-shadow: 2px 2px #2b73793c;
  padding: 1rem 1rem 1rem 1rem;
  gap: 15px;
} */

.directory-item-box {
  flex: 1 1 30rem;
  display: grid;
  grid-template-areas: "directory-img-box directory-text-box";
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: start;
  box-shadow: 2px 2px #2b73793c;
  padding: 1rem 1rem 1rem 1rem;
  gap: 15px;
}

.directory-img-box {
  display: flex;
  width: 15rem;
  height: 12rem;
  border: 5px solid #67a9a92d;
  border-radius: 15px;
  overflow: hidden;
  grid-area: directory-img-box;
  justify-content: end;
}

.directory-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.directory-img-box:hover {
  border: 5px solid #67a9a9;
  transition: border 0.2s ease-in-out;
}

.directory-text-box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  padding: 0px 10px 0px 10px;
  grid-area: directory-text-box;
}

.directory-text-heading {
  color: #2b7379;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: right;
}

.directory-text-wrapper {
  /* min-height: 300px; */
  display: flex;
  align-items: center;
  /* background-color: #d6eef389 !important; */
  padding: 0px 15px 10px 15px;
  border-radius: 10px;
  /* border: 3px dotted #afdce07f; */
}

.directory-text {
  text-align: justify;
  line-height: 1.2;
  color: #2b7379;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

.dotted-divider {
  border-top: 3px dotted #2b7379;
  width: 90%;
}

.dotted-divider-2 {
  border-top: 3px dotted #2b7379;
}

.visit-btn-wrapper {
  display: flex;
  justify-content: end;
  padding: 0px;
  margin-top: 10px;
  width: 100%;
}

.visit-btn {
  background-color: #67a9a9;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  width: 75%;
}

.visit-btn:hover {
  background-color: #4b8181;
}

.update-row {
  display: grid;
  grid-template-areas: "links-box update-box todo-box";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 0rem 0rem 0rem 1rem;
}

.update-text-container {
  height: 428px;
  overflow: auto;
}

.update-accordion-body {
  padding: 0px 0px 0px 0px;
  height: 428px;
  border-radius: 0px 0px 10px 10px;
}

.update-text {
  text-align: center;
}

.todo-accordion-body {
  text-align: left;
  background-color: rgb(232, 232, 232);
  background-image: url("../assets/board.png");
}

.form-check-input {
  background-color: #67a9a947;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form-check-input:checked {
  background-color: #67a9a9 !important;
  border: none;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: white;
  outline: none;
  border: none;
  box-shadow: none !important;
}

.list-thumbtack {
  width: 30px;
  height: 35px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.25));
}

.checkbox-col {
  padding: 0px 0px 0px 5px;
}

.todo-col {
  padding: 0px;
}

.list-group {
  border-radius: 0px;
}

.list-group-item {
  border: none;
  color: #2b7379 !important;
  margin: 8px 8px 0px 8px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.08),
    0 8px 15px rgba(0, 0, 0, 0.06);
}

.list-group-item:hover {
  cursor: pointer;
}

.list-group > .list-group-item:nth-child(even) {
  background-color: rgb(255, 243, 222);
}

.list-group > .list-group-item:last-child {
  margin: 6px 6px 6px 6px;
}

.others-box {
  width: 100%;
}

.coming-soon-img {
  width: 50%;
}

.link-btn-container {
  display: block;
}

.link-btn {
  background-color: #67a9a9;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 30px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-btn:hover {
  background-color: #4b8181;
}

.link-btn-container:nth-child(even) .link-btn {
  background-color: rgba(237, 208, 159, 1);
  transition: background-color 0.2s ease-in-out;
  color: rgb(127, 101, 68);
}

.link-btn-container:nth-child(even) .link-btn:hover {
  background-color: rgb(197, 163, 105);
}

.view-more-btn {
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  color: #67a9a9;
  border: 2px solid #67a9a9;
}

.view-more-btn:hover {
  background-color: #67a9a9;
  color: white;
}

/*---------------------------- Noticeboard -----------------------------*/

.noticeboard-body {
  /* background-color: #d6eef3; */
  display: grid;
  grid-template-areas: "notice-others-box latest-posts-box";
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  padding: 5px 7px;
  background-image: url("../assets/board.png");
  border-radius: 0px 0px 10px 10px;
}

.latest-posts-box {
  grid-area: latest-posts-box;
}

.notice-others-box {
  grid-area: notice-others-box;
}

.notice-box {
  background-color: white;
  padding: 10px 10px 15px 10px;
  margin: 10px 5px;
  border-radius: 10px;
  text-align: left;
  font-family: afacad;
  line-height: 1.1;
  /* border: 2px solid #afdce0; */
  box-shadow: 2px 2px #2b737975;
}

.notice-box h4 {
  font-family: "Dosis";
  font-weight: 900;
  color: #2b7379;
  text-align: left;
  font-size: 1.3rem;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-post {
  padding: 10px 10px;
  background-color: #d6eef3;
  border-radius: 10px;
  /* border: 3px dotted #2b737933; */
  margin-bottom: 6px;
}

.notice-post-heading {
  display: flex;
  justify-content: end;
  width: 100%;
  color: #2b7379;
}

.notice-post-date {
  color: #2b7379;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px 5px;
  border-radius: 5px;
  margin-right: 3px;
  text-align: right;
  font-style: italic;
  opacity: 0.8;
}

.notice-post p {
  font-size: 0.85rem;
  /* margin-left: 15px; */
  margin-bottom: 0px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  color: #2b7379;
  text-align: left;
  display: -webkit-box;
  line-height: 1.1;
  -webkit-box-orient: vertical;
  text-align: left;
}

.notice-post p a {
  color: #2b7379;
  font-weight: bold;
}

.notice-post p i {
  font-size: 0.8rem;
  color: #67a9a9;
}

.notice-post p span {
  opacity: 0.8;
}

.notice-post-title {
  display: inline;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 162px;
  font-size: 0.9rem;
  font-weight: 900;
  color: #2b7379;
  text-align: right;
}

.notice-post-title:hover {
  text-decoration: 2px underline solid #2b7379;
}

.dotted-divider-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px dotted #2b7379;
}

.notice-button {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  box-shadow: 2px 2px rgba(127, 101, 68, 0.3);
  font-weight: 900;
  font-family: "Dosis";
  border-radius: 10px;
  padding: 1px 15px 2px 15px;
  display: inline-block;
  font-size: 1rem;
}

.notice-button:hover {
  background-color: rgb(206, 174, 117);
  color: rgb(94, 73, 46);
  box-shadow: 2px 2px rgba(105, 83, 54, 0.3);
  transition: ease-in-out 0.2s;
}

.notice-art-box {
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
}

.notice-art-tab-content {
  background-color: white;
  box-shadow: 2px 2px #2b737975;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px 10px 10px;
}

.notice-art-tab-content h4 {
  padding-bottom: 0px;
}

.notice-art-tab {
  background-color: #67a9a9;
  color: white;
  border-radius: 10px 0px 0px 10px !important;
  padding: 5px 8px;
  margin-top: 10px;
  font-size: 1.2rem;
  box-shadow: 2px 2px #2b737975;
}

.notice-art-tab:not(.active):hover {
  color: white;
  background-color: #4b8181;
}

.notice-art-tab.active {
  background-color: #4b8181 !important;
  outline: rgb(255, 255, 255) 3px solid !important;
}

.notice-art-row {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.notice-art-thumbnail {
  display: block;
  flex: 1 1 5rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  background-color: #d6eef3;
  box-shadow: 2px 2px #2b737975;
}

.notice-art-thumbnail:hover {
  transform: scale(1.1) rotate(-10deg);
  transition: ease-in-out(0.2s);
}

.notice-art-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: 25% 12%;
}

.notice-art-btn {
  padding: 3px 12px 5px 12px;
  font-size: 0.8rem;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.notice-art-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announce-box {
  background-color: #d6eef3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

.announcement-title {
  background-color: #67a9a9;
  color: white !important;
  border-radius: 25px !important;
  padding: 5px 15px !important;
  min-width: 45%;
}

.announce-inner {
  color: #2b7379;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 6px;
}

.announce-changelog {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 2px 2px #2b737975;
  min-height: 100px;
}

.announce-changelog span {
  font-size: 1rem;
  margin: 0px;
  text-align: justify;
  line-height: 1.1;
  display: inline-block;
}

.announce-changelog-box {
  overflow-y: auto;
  height: 57px;
  padding-right: 5px;
}

.announce-changelog span a {
  font-weight: bold;
  color: #2b7379;
  cursor: pointer;
}

.announce-changelog span a:hover {
  text-decoration: 3px solid #2b737976 underline;
}

.announce-changelog-date {
  margin-right: 10px;
  font-weight: bold;
  background-color: #67a9a926;
}

.changelog-heading {
  font-weight: 900;
  margin-bottom: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.announce-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.announce-changelog-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 0px;
}

.announce-changelog-btn-wrapper.mobile-only {
  display: none;
}

.announce-changelog-btn-wrapper.web-only {
  display: flex;
}

.go-to-changelog-btn {
  padding: 3px 12px 5px 12px;
  font-size: 0.8rem;
  border-radius: 25px;
  display: inline-block;
}

.mobile-only {
  display: none;
}

/*---------------------------- Status speech bubble -----------------------------*/

.speech-bubble {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #ffffff;
  border-radius: 0.4em;
  left: 55%;
  top: 0%;
  padding: 15px;
  z-index: 10;
  transition: opacity 0.3s ease;
  font-size: 14px;
  line-height: 0.8;
  width: 200px;
}

.status-date {
  font-size: 12px;
  padding: 0px 0px 5px 0px;
  margin: 0px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.home-image:hover + .speech-bubble {
  visibility: visible;
  opacity: 1;
}

#statuscafe-username {
  margin-bottom: 0.5em;
}

#statuscafe-username a {
  color: #67a9a9;
}

/*---------------------------- Scrollbar -----------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6dcdc;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  width: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  cursor: pointer;
}

/* Track */
.update-text-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.update-text-container::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.update-text-container::-webkit-scrollbar {
  width: 7px;
  padding-right: 2px;
}

/* Track */
.home-text-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.home-text-container::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.home-text-container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.announce-changelog-box::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 5px;
}

/* Handle */
.announce-changelog-box::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.announce-changelog-box::-webkit-scrollbar {
  width: 7px;
}

/*---------------------------- responsiveness -----------------------------*/

@media only screen and (max-width: 1215px) {
  .home-page {
    padding: 0px 20px;
    max-width: 700px;
  }

  .about-page {
    max-width: 900px;
  }

  .landing-wrapper {
    display: block;
  }

  .img-box {
    width: 100%;
    padding-right: 0;
  }

  .about-box {
    width: 100%;
  }

  .home-container {
    margin: 10px 0px !important;
  }

  .home-text-container {
    border-radius: 0px 0px 0px 10px !important;
    padding: 20px !important;
  }

  .home-text {
    padding: 0px !important;
  }

  .home-about-container {
    width: 75%;
  }

  .site-heading {
    font-size: 30px;
  }

  .directory-row {
    padding: 0rem 0.5rem 1.5rem 0.5rem !important;
  }

  .directory-item-box {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .directory-img-box {
    width: 100%;
    margin-top: 0px;
  }

  .directory-text-box {
    width: 100%;
    margin: 0px;
    padding: 10px 10px;
  }

  .directory-text {
    text-align: center;
  }

  .visit-btn {
    width: 100%;
  }

  .directory-text-heading {
    text-align: center;
    margin-top: 10px;
  }

  .update-row {
    display: block;
    padding: 0rem 0.5rem;
  }

  .update-box {
    width: 100%;
    margin: 20px 0px !important;
  }

  .todo-box {
    width: 100%;
    margin: 25px 0px !important;
  }

  .links-box {
    width: 100%;
  }

  .checkbox-col {
    min-width: 7.5vw;
    max-width: 15%;
  }

  .menu-icon-container {
    padding: 0px 0px 0px 20px;
  }

  .coming-soon-img {
    width: 100%;
  }

  .speech-bubble {
    position: absolute;
    left: 35%;
    top: -5%;
  }

  /*---------------------------- Noticeboard -----------------------------*/

  .notice-board-wrapper {
    margin-top: 10px;
  }

  .noticeboard-body {
    display: grid;
    grid-template-areas:
      "notice-others-box"
      "latest-posts-box";
    grid-template-columns: 1fr;
    gap: 0px;
    padding-top: 10px;
  }

  .latest-posts-box {
    flex: 0 0 100%;
  }

  .notice-box {
    margin: 0px 0px;
    margin-bottom: 10px;
  }

  .notice-art-box {
    margin-bottom: 12px;
  }

  .notice-art-thumbnail {
    flex: 1 1 10rem;
    max-height: 9rem;
  }

  .notice-art-img {
    object-position: 50% 25%;
  }

  .announcement-box {
    display: block;
  }

  .announce-changelog {
    min-height: 70px;
  }

  .announce-inner {
    flex-direction: column;
  }

  .announce-changelog-btn-wrapper.mobile-only {
    display: flex;
    margin-top: 6px;
  }

  .announce-changelog-btn-wrapper.web-only {
    display: none;
  }

  .notice-post {
    padding: 10px 10px;
  }

  .notice-post-title {
    max-width: 220px;
  }

  .white-space {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #directory-box .accordion-body {
    padding: 0.6rem;
  }

  .directory-content {
    gap: 10px;
  }

  .directory-item-box {
    padding: 1.5rem 1.1rem 0.8rem 1.1rem;
  }

  .directory-text-heading {
    margin-bottom: 10px;
  }

  .directory-text-box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .directory-text-wrapper {
    padding: 10px;
  }
}
