@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");

html,
body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  width: 100%;
  height: 100%;
  background: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20205%20205%22%20width%3D%22205%22%20height%3D%22205%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-width%3A%203px%3B%20stroke%3A%20%23FFFFFF%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M0%2C179c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%20%3Cpath%20d%3D%22M0%2C77c51%2C0%2C51-51%2C102-51s51%2C51%2C102%2C51%22%20%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(
      45deg,
      rgba(237, 208, 159, 1) 0%,
      rgba(171, 215, 216, 1) 60%
    );
  background-attachment: fixed;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

/* html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  text-align: center;
  background-color: #9ad4d6;

  width: 100%;
  height: 100%;
} */

.update-box {
  width: 48.15%;
}

.about-box {
  width: 60%;
  margin: 0px 0px 0px 25px;
}

.img-box {
  width: 35%;
  padding-right: 5%;
}

/* .about-box {
  margin: -16.5% 30% 50px 30%;
  width: 40%;
  height: 190px;
  background-color: white;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  text-align: left;
  border-radius: 25px 150px 150px 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  float: left;
} */

.site-heading {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 2.188rem;
  align-content: center;
  background-color: #2b7379 !important;
  color: white !important;
  border-radius: 25px 25px 0px 0px !important;
}

.home-text-container {
  overflow-y: auto;
  height: 190px;
}

.home-text {
  text-align: justify;
  line-height: 1.3;
  color: #2b7379;
}

.home-image {
  height: 250px;
  padding-right: 5px;
  filter: drop-shadow(0 0 0.75rem gray);
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.home-page {
  max-width: 900px;
}

.home-container {
  background-color: white;
  border-radius: 25px 25px 0px 25px;
  color: #2b7379;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home-icon {
  margin-right: 15px;
}

.accordion {
  padding: 0 !important;
}

.accordion-item {
  border: none;
  background-color: transparent;
}

.accordion-header {
  background-color: transparent;
}

.accordion-body {
  background-color: white;
  border-radius: 0px 0px 0px 25px;
}

.accordion-button {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 2.188rem;
  align-content: center;
  background-color: #2b7379 !important;
  color: white !important;
  border-radius: 25px 25px 25px 25px !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  border-radius: 25px 25px 0px 0px !important;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Crect x='7' y='2' width='3' height='12'/%3E%3Crect x='2' y='7' width='12' height='3'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Crect x='2' y='7' width='12' height='3'/%3E%3C/svg%3E");
}

.directory-img-box {
  width: 35%;
  margin-top: 20px;
}

.directory-img {
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  border: 5px solid #67a9a92d;
}

.directory-img:hover {
  border: 5px solid #67a9a9;
  transition: border 0.2s ease-in-out;
}

.directory-text-box {
  width: 60%;
  justify-content: left;
  margin-left: 20px;
  padding-left: 20px;
  text-align: left;
}

.directory-text-heading {
  color: #2b7379;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-left: 0px;
}

.directory-text {
  text-align: justify;
  line-height: 1.3;
  color: #2b7379;
  padding-left: 0px;
}

.dotted-divider {
  border-top: 3px dotted #2b7379;
  width: 90%;
}

.dotted-divider-2 {
  border-top: 3px dotted #2b7379;
}

.visit-btn {
  background-color: #67a9a9;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.visit-btn:hover {
  background-color: #4b8181;
}

.update-row {
  padding: 0px;
}

/*---------------------------- Side Menu -----------------------------*/

.menu-icon-container {
  width: 100%;
  font-size: 30px;
  padding: 20px 0 20px 30px;
}

.menu-icon {
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
  opacity: 1;
  float: left;
  transition: 0.3s;
}

.menu-icon:hover,
.menu-icon:active,
.menu-icon:focus {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  transition: 0.3s;
}

.main-body {
  width: 100%;
  transition: 0.3s;
}

.side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  margin-left: -303px;
  width: 300px;
  height: 100%;
  background: white;
  transition: 0.3s;
  z-index: 2;
  box-shadow: 3px 0px 10px rgb(0 0 0 / 0.2);
  padding: 20px 0px 20px 0px;
}

.active {
  margin-left: 0px;
}

.slide-right {
  margin-left: 300px;
}

.lock-scroll {
  overflow-y: hidden;
}

.side-menu-button {
  background-color: #67a9a9;
  border-radius: 50px;
  color: white !important;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 20px 10px 20px;
  padding: 10px 0px 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: left;
  display: block;
  text-decoration: none !important;
}

.side-menu-button:hover {
  background-color: #85c5c7;
  transition: 0.3s;
}

.paw-icon {
  margin-right: 15px;
}

.update-text-container {
  height: 200px;
  overflow: auto;
}

.update-accordion-body {
  padding: 0px 11px 0px 0px;
}

.update-text {
  text-align: center;
}

/*---------------------------- Scrollbar -----------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6dcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  width: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    rgba(237, 208, 159, 1) 0%,
    rgba(171, 215, 216, 1) 60%
  );
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .home-page {
    padding: 0px 20px;
  }

  .img-box {
    width: 100%;
    padding-right: 0;
  }

  .about-box {
    width: 100%;
  }

  .home-container {
    margin: 10px 0px !important;
  }

  .home-text-container {
    padding: 20px !important;
  }

  .home-text {
    padding: 0px !important;
  }

  .site-heading {
    font-size: 30px;
  }

  .directory-img-box {
    width: 100%;
    margin-top: 0px;
  }

  .directory-text-box {
    width: 100%;
    margin: 0px;
    padding: 10px 10px;
  }

  .directory-text {
    text-align: center;
  }

  .visit-btn {
    width: 100%;
  }

  .directory-text-heading {
    text-align: center;
    margin-top: 10px;
  }

  .update-box {
    width: 100%;
    margin: 20px 0px !important;
  }
}
