/*-----------------------Modal----------------------------*/

.modal-open {
  padding-right: 0px !important;
  overflow: hidden !important;
  height: 100% !important;
}

.modal {
  padding-right: 0px !important;
  scrollbar-width: none;
  --bs-modal-width: 800px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.modal.show {
  max-height: 100vh;
}

.modal-content {
  background: none;
  border: none;
  cursor: default;
  width: auto;
  margin: auto;
}

.modal-image-container {
  background-color: white;
  border: 5px solid white;
  color: #616479;
  border-radius: 5px;
}

.modal-image-container p {
  color: #616479;
  font-weight: 300;
  margin-top: 5px;
}

.modal-image {
  display: block;
  object-fit: contain;
  width: auto;
  max-height: 85vh;
  margin: 0;
}

.modal-row {
  align-items: center;
}

.modal-cross {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8rem;
  color: white;
  z-index: 1057; /* one above the arrows */
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.modal-cross:hover {
  opacity: 1;
}

#modal-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
