.not-found-container {
  padding-top: 70px;
}

.not-found-box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.not-found-header {
  background-color: #2b7379;
  font-family: "Dosis";
  font-weight: 600;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 25px;
  font-size: 2rem;
}

.not-found-img {
  width: 500px;
}

.title-box {
  line-height: 1.3;
  padding: 0px 20px;
}

.home-btn {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  font-family: "Dosis";
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  width: 50%;
}

.home-btn:hover {
  background-color: #4b8181;
  background-color: rgb(197, 163, 105);
  color: white;
  transition: ease-in-out 0.2s;
}

@media only screen and (max-width: 992px) {
  .not-found-box {
    width: 100%;
  }

  .not-found-img {
    width: 300px;
  }

  .home-btn {
    width: 100%;
  }
}
