.links-row {
  max-width: 850px;
  margin: auto;
  align-items: end;
  min-height: 550px;
}

.links-container {
  width: 50%;
}

.about-links-box {
  margin: 0px;
  padding: 0px;
}

.links-header {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #2b7379;
  color: white;
  border-radius: 25px 25px 0px 0px;
  width: 40%;
  padding: 7px 12px 5px 12px;
  position: relative;
  margin-left: 20px;
}

.links-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-header {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  align-content: center;
  background-color: #2b7379;
  color: white;
  border-radius: 25px;
  width: 50%;
  padding: 6px 12px 6px 12px;
  position: relative;
  top: 25px;
  left: 120px;
}

.img-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-img {
  width: 100%;
  min-width: 250px;
  filter: drop-shadow(0 0 0.75rem gray);
  cursor: pointer;
}

.links-box {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
  width: 100%;
  border: 3px solid #e4f7fb;
}

.about-links {
  line-height: 1.2;
  padding-top: 40px;
}

.about-links::after {
  content: "";
  position: relative;
  top: 65px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.links-list {
  padding: 15px;
}

.links-list a {
  display: block;
  margin: 5px 0px 5px 0px;
}

.links-list a:nth-child(3n + 1) .link-btn {
  background-color: #67a9a9;
}

.links-list a:nth-child(3n + 2) .link-btn {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
}

.links-list a:nth-child(3n) .link-btn {
  background-color: #a3a5cf;
}

.links-list a:nth-child(3n + 1) .link-btn:hover {
  background-color: #538b8b;
  transition: ease-in-out 0.2s;
}

.links-list a:nth-child(3n + 2) .link-btn:hover {
  background-color: rgb(189, 164, 122);
  transition: ease-in-out 0.2s;
}

.links-list a:nth-child(3n) .link-btn:hover {
  background-color: #8486ac;
  transition: ease-in-out 0.2s;
}

.home-link-btn {
  background-color: rgba(237, 208, 159, 1);
  color: rgb(127, 101, 68);
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px rgb(175, 146, 95);
  border-radius: 25px;
  border: none;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.home-link-btn div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-link-btn:hover {
  background-color: rgb(175, 146, 95);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px rgb(155, 128, 83);
}

.home-button-row {
  width: 100%;
  display: flex;
  justify-content: end;
}

.home-button-row a {
  width: 40%;
}

.pic-box-mb {
  display: none;
}

.links-img:hover {
  animation: circleFloat 1.5s infinite linear;
  transition: ease-in-out 0.2s;
}

@keyframes circleFloat {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(6px, -6px);
  }
  50% {
    transform: translate(12px, 0px);
  }
  75% {
    transform: translate(6px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.links-left {
  width: 60%;
}

.links-right {
  width: 35%;
}

/*-------------- scrollbar ---------------------*/
/* Track */
.links-list::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Handle */
.links-list::-webkit-scrollbar-thumb {
  border-radius: 25px;
}

.links-list::-webkit-scrollbar {
  width: 5px;
}

/*---------------------------- responsiveness -----------------------------*/

@media only screen and (max-width: 898px) {
  .links-container {
    width: 100%;
    justify-content: end !important;
  }

  .about-links {
    margin-bottom: 5px !important;
  }

  .links-list {
    margin-top: 5px !important;
    overflow-y: none;
    max-height: none;
  }

  .links-header {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }

  .links-img {
    max-width: 200px;
  }

  .links-left {
    width: 100%;
  }

  .links-right {
    width: 100%;
  }

  .home-button-row a {
    width: 50%;
  }

  .links-box {
    margin: 0px !important;
  }

  .pic-box {
    display: none;
  }

  .pic-box-mb {
    display: block;
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .home-button-row a {
    width: 70%;
  }

  .pic-box-mb {
    width: 100%;
    padding-top: 50px;
  }
}
