@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");

.guestbook-image {
  height: 300px;
  filter: drop-shadow(0 0 0.2rem gray);
  cursor: pointer;
}

#title {
  display: none;
}

a {
  color: #2b7379;
}

a:hover {
  text-decoration: underline;
}

.guestbook-row {
  align-items: center;
}

#c_form {
  width: 100%;
  background: white;
  border-radius: 25px;
  box-shadow: 2px 2px #2b737975;
  border: 2px solid #afdce0;
  padding: 20px;
}

#form-container {
  width: 42vw;
}

.messages-container {
  width: 40vw;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  text-align: center;
  color: #2b7379;
}

.input-label {
  padding: 0.1em 0em 0.1em 0em;
  margin: 0px 10px 5px 0px;
  background-color: #2b7379;
  color: white;
  border-radius: 25px;
  width: 25%;
  font-family: "Dosis";
}

input[type="text"],
input[type="url"],
textarea {
  box-sizing: border-box;
  resize: vertical;
  max-height: 100px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border: 2px solid #92cfd9;
  background-color: #d6eef3;
  border-radius: 5px;
  color: #2b7379;
  width: 70%;
  line-height: 1.3;
}

textarea {
  height: 100px;
}

input[type="text"],
input[type="url"] {
  border-radius: 25px;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 2px solid #0097b2 !important;
  outline: 0 none;
}

#c_submitButton {
  background: #2b7379;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 30px;
  padding: 0.1em 1.5em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#c_submitButton:not(:disabled):hover {
  background: #67a9a9;
}

#c_submitButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: all;
}

#submitButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#made-with {
  text-align: right;
  padding-right: 20px;
  font-style: italic;
  font-size: 0.8em;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.8;
}

#made-with a {
  color: white;
}

#messages-header {
  margin-top: 1em;
  color: white;
  font-family: "Dosis";
  font-weight: 700;
  font-size: 1.7rem;
  background-color: #2b7379;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  text-align: center;
  margin: 10px auto 10px auto;
}

#c_container {
  margin-top: 1em;
  overflow-y: scroll;
  height: 488px;
  background-color: #ffffff; /* white base */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 27px,
    #67a9a9 28px
  );
}

.c-name {
  font-size: 1.1em;
  font-weight: 900;
  display: inline-block;
  cursor: pointer;
}

.messages-box-outer {
  background-color: #67a9a9;
  padding: 15px 15px 0px 15px;
  border-radius: 25px;
  box-shadow: 2px 2px #2b7379;
}

.messages-box-inner {
  background-color: white;
  padding: 10px 10px 15px 10px;
  border-radius: 25px;
  box-shadow: 2px 2px black;
}

.loading-text {
  font-style: italic;
  opacity: 0.8;
}

.c-comment {
  background-color: #d6eef3e6;
  padding: 5px 15px 10px 15px;
  margin: 0px 20px 11px 20px;
  border-radius: 10px;
  border: #0097b2 2px dotted;
  text-align: left;
}

.c-comment blockquote {
  margin: 0px;
  line-height: 1.2;
}

.c-timestamp {
  opacity: 0.8;
  font-style: italic;
}

.c-replyContainer {
  background-color: rgba(255, 238, 209, 0.908);
  margin: 10px 0px 0px 0px;
  border: dotted rgb(127, 101, 68) 2px;
  color: rgb(127, 101, 68);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: right;
}

.c-text {
  margin-bottom: 0px;
  line-height: 1.3;
}

.c-reply a {
  color: rgb(127, 101, 68);
}

.replyButtonContainer {
  display: flex;
  justify-content: end;
  margin-top: 8px;
}

.c-replyButton {
  background: #2b7379;
  color: white;
  font-size: 0.8em;
  border: none;
  border-radius: 30px;
  padding: 0.1em 1.5em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.c-replyButton:hover {
  background: #67a9a9;
}

#c_replyingText {
  font-style: italic;
  opacity: 0.8;
  line-height: 1;
  text-align: left;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(148, 152, 157, 0.305);
  width: 10px !important;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 152, 157, 0.668);
  cursor: pointer;
  transition: ease-in-out;
}

@media only screen and (max-width: 898px) {
  #form-container {
    width: 100vw;
    border-radius: 25px;
  }

  .input-label {
    width: 35%;
  }

  input[type="text"],
  input[type="url"],
  textarea {
    width: 60%;
  }

  .messages-container {
    width: 100vw;
    margin-bottom: 30px;
  }

  .guestbook-image {
    height: 200px;
    cursor: pointer;
  }

  .c-comment {
    margin: 0px 5px 11px 5px;
  }

  .c-replyContainer {
    margin-top: 10px;
  }

  #messages-header {
    width: 90%;
  }
}
